@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TrajanPro';
  src: url('/fonts/TrajanPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro';
  src: url('/fonts/TrajanPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .grid-stack-children {
    @apply grid [&>*]:col-start-1 [&>*]:row-start-1
  }

  .card-shadow {
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.5);
  }
  .dividing-bar {
    @apply relative box-border bg-[#917E54] border-b-2 border-b-[#6F4C30] border-t-2 border-t-[#75342A] border-opacity-40 after:card-shadow after:absolute after:w-full after:h-full
  }
}
